/* Provided by Nextjs by default */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: --apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
}

/* Custom Styles  */
@tailwind base;
@tailwind components;
@tailwind utilities;
